body, div, table, tr, td  {
  margin: 0;
  padding: 0;
}

.table__wrap {
  margin: 70px;
  position: relative;
  display: inline-block;
}

.dynamic__table {
  margin: 2px;
  box-sizing: border-box;
  border: 1px solid #48aae6;
  border-spacing: 2px;
  position: relative;
}

.dynamic__table td {
  width: 60px;
  height: 60px;
  min-width: 60px;
  background-color: #48aae6;
}

.table__button {
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 25px;
  font-weight: 900;
  color: #ffffff;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.2s;
  text-align: center;
  user-select: none;
}

.table__button:hover {
  opacity: 0.5;
}

.minus--button {
  background-color: #b20000;
  visibility: hidden;
  transition-property: left, top;
  transition-duration: 0.3s;
}

.plus--button {
  background-color: #f3a500;
}

.top__minus {
  margin-left: 3px;
  bottom: 100%;
}

.left__minus {
  margin-top: 3px;
  right: 100%;
}

.right__plus {
  margin-top: 5px;
  left: 100%;
}

.bottom__plus {
  margin-left: 5px;
  top: 100%;
}